<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student-List</title>
</head>
    <h2>Daftar Buku Perpustakaan</h2>
<body>
    <a href="/books/add">sumbang buku</a>
    <table border=1>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Action</th>
            
        </tr>
        <% data.forEach((each) => { %>
            <tr>
               
                <td><%= each.book_name%></td>
                <td><%= each.author%></td>
                <td><%= each.genre%></td>
                <td>
                    <a href="/books/<%= each.id%>/borrow">Borrow</a>
                    <a href="/books/<%= each.id%>/edit">Edit</a>
                </td>
            </tr>
        <%});%>            
    </table>
    <a href="/homepage">back home</a>
<body>
</html>